<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Intro</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
  <style>
    body {
      font-family: 'Lato', sans-serif;
      color: #4A4A4A;
      background-color: olivedrab;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
  </style>
    <h1><a href='upload.html'>Place where you can get extracted text from scanned documents!</a></h1>
  </body>
</html>
